*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(80,73,205);
    background: linear-gradient(90deg, rgba(205, 73, 187, 0.964) 0%, rgb(72, 60, 184) 46%, rgb(226, 230, 253) 100%);
}
main{
    font-family: sans-serif;
    background-color: aliceblue;
    margin: auto;
    border-radius: 1%;
    text-align: center;
    height: 20rem;
    margin: 10%;
    box-shadow: 1px 4px 20px 5px black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}